{
    "broadcastCreation":{
        "tasks_location": "xxxxx",
        "functions_location": "xxxxxx",
        "service_account_email": "xxxxxx",
        "autodelete_task_queue_name": "xxxxxx"
    }
}