//You're going to have to make two of these: env.prod.json and env.dev.json
{
    "broadcastCreation":{
        "tasks_location": "xxxxx",
        "functions_location": "xxxxxx",
        "service_account_email": "xxxxxx",
        "autodelete_task_queue_name": "xxxxxx"
    },
    "userDataEmailing":{
        "email_host": "xxxxxx",
        "email_port": "123",
        "use_tls": "true",
        "email_address": "xxxxxx",
        "email_password": "xxxxxx"
    },
    "fcm":{
        "app_bundle_id": "xxx.xxxx.xxx" //For iOS
    },
    "stats":{
        "is_prod_server": "xxx", //"yes" or "no". //If no, the other fields don't have to be filled
        "new_users_sheets_id": "xxxxxxx",
        "new_user_slack_webhook": "xxxxxxxx"
    }
}