{
    "broadcastCreation":{
        "tasks_location": "xxxxx",
        "functions_location": "xxxxxx",
        "service_account_email": "xxxxxx",
        "autodelete_task_queue_name": "xxxxxx"
    },
    "userDataEmailing":{
        "email_host": "xxxxxx",
        "email_port": "123",
        "use_tls": "true",
        "email_address": "xxxxxx",
        "email_password": "xxxxxx"
    },
    "fcm":{
        "app_bundle_id": "xxx.xxxx.xxx"
    }
}