rules_version = '2';
//Firestore database is in complete lockdown
//The data stored in Cloud Firestore (which is FCM token data)
//is managed entirely by the admin ADK and cloud functions
service cloud.firestore {
  match /databases/{database}/documents {

    // Users can read their notification data, only cloud functions can write to it
    match /fcmData/{userUid} {
      allow read: if request.auth != null && request.auth.uid == userUid;
      allow write: if false;
    }

    match /userMetadata/{userUid} {
      allow read: if request.auth != null && request.auth.uid == userUid;
      allow write: if false;
    }

  }
}