service firebase.storage {
 match /b/{bucket}/o {
   match /profilePictures {

     // Cascade read to any image at the profilePictures path
     // as long as there's an auth token
     match /{allImages=**} {
       allow read: if request.auth!=null
     }

     // Allow write files to the path "profilePictures/{uid}/*", subject to the constraints:
     // 1) File is less than 10MB
     // 2) Content type is an image
     // 3) File name is less than 50 characters
     // 4) The user's uid matches with the directory they're writing into
     // 5) Noone can enter something that ends in _100x100 because that's the suffix the resizer cloud function uses
     match /{userUid} {
      match /{imageId} {
        allow write: if request.resource.size < 10 * 1024 * 1024
                      && request.resource.contentType.matches('image/.*')
                      && imageId.size() < 50
                      && request.auth.uid == userUid
                      && !imageId.matches('.*_100x100')
      }
     }
   }
 }
}